#h1{
    color: red;
}
#h2{
    color: blueviolet;
}
fieldset{
    color:blue;
}
/* <style type="style: .css;">
#div1{
    color: chocolate;
}
/* </style>
<style type="text/css">
    body {
    font-family: arial;
    background-color: rgb(185,179,175);}
    /* h1 { */
/*     
    color: rgb(255,255,255);}
    </select>
 */
